body{
    margin-top: 200px;
    text-align: center;
    background: url("https://img.freepik.com/free-vector/casino-playing-cards-with-symbols-background_1017-23143.jpg?w=740&t=st=1675424362~exp=1675424962~hmac=dcce95f0c05aa86e22e3fce54bdfd107871811cea9732dd3cf9403c5e59da06b");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}
h1{
    color:goldenrod;
    font-style: italic;
}
button{
    color: rgb(255, 238, 140);
    background-color: rgb(150, 196, 81);
    border-width: 3px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
    margin: 5px;
}
#sg:hover{
    background-color:rgb(138, 206, 35) ;
    border:155PX 55PX;
}